@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

html, body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #e3e3e3;
  font-family: 'Oswald', sans-serif;

  .clock {
    width: 200px;
    box-shadow: inset red 0 0 0 1px;

    h1 {
      text-align: center;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
    }
  }
}