@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');

html, body {
  margin: 0;
  padding: 0;
  background: #333;
  color: #e3e3e3;
  font-family: 'Oswald', sans-serif;

  #vue-app {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

    .clock {
      width: 200px;
      border-radius: 5px;
      background: rgba(white, 0.1);
      margin: 5px;

      h1 {
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
      }
    }
  }
}